.frame {
  &-type-accordion {
    &.frame-layout-10 {

      .accordion {
        &-title {
          font-size: 1rem;
          a {
            color: #000;

          }
        }
        &-title-link {
          padding-left: 0;
        }
      }

      .card {
        border: unset;
        &-header {
          background-color: unset;
        }
      }

    }
  }
}