ul.nav-tabs {
  border-bottom: unset;
  li.nav-item {
    a {
        border: unset;
      &.nav-link {
        font-size: 0.9rem;
        color: #495057;
        border-bottom: 3px solid #E7E7E7;
        &.active,
        &.valid {
          color: #287e4b;
          border-bottom: 3px solid #287e4b;
        }
        &.invalid {
          color: #D01919;
          border-bottom: 3px solid #D01919;
        }
      }
    }
  }
}
.tab-content {
  .frame {
    padding-top: 1rem;
    padding-bottom: unset;
    &-container {
      padding-left: unset;
      padding-right: unset;
    }
  }
  .text-icon {
    .header {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      min-height: 55px;
      h5 {
        margin: unset;
        padding-left: 1rem;
        font-size: 1rem;
        font-weight: 600;
      }
      img {
        /*height: auto;
        width: 2.5rem;*/
      }
      @include media-breakpoint-down(xs) {
        display: block;
        align-items: unset;
        img {
          display: block;
          margin: 0 auto 1rem;
        }
        h5 {
          display: block;
          margin: 1rem auto 0 auto;
          padding-left: unset;
          font-size: 1.1rem;
          text-align: center;
        }
      }
    }
    .content {
      margin-top: 1rem;
    }
    .box {
      margin: 1rem 0;
    }
    .arrow {
      .header {
        display: block;
        h5 {
          text-align: left;
          padding-left: unset;
          margin: 1rem 0 0;
        }
        img {
          display: unset;
          &.icon-1st {
            height: 2.5rem;
            width: auto;
          }
          &.icon-2nd {
            padding: 0 0 0 40%;
          }
        }
      }
    }
  }
}