table {
  &.table-comparison {
    tr {
      &.cta {
        @include media-breakpoint-down(sm) {
          display: none;
        }
      }
      &.headline {
        &-cell {
          @include media-breakpoint-down(md) {
            display: none;
          }
        }
        &-full {
          @include media-breakpoint-up(lg) {
            display: none;
          }
        }
      }
      td, th {
        width: 33.33333%;
        text-align: center;
        background-color: #e4ede8;
        &:first-child {
          text-align: left;
        }
        &:first-child,
        &:last-child {
          background-color: unset;
        }
      }
      th {}
      td {
        font-size: 0.8rem;
      }
      &.headline {
        th {
          font-size: 1.5rem;
        }
      }
      &.border-bottom.last {
        border-bottom: 2px solid #aaa !important;
        td, th {
          padding-bottom: 2rem;
        }
      }
      &.addition {
        th, td {
          padding: -1rem 0 0 0;
        }
      }
      &:first-child {
        td, th {
          padding-top: 3.5rem;
          @include media-breakpoint-down(md) {
            padding-top: 3rem;
          }
          @include media-breakpoint-down(sm) {
            padding-top: 2.5rem;
          }
          @include media-breakpoint-down(xs) {
            padding-top: 2rem;
          }
        }
      }
      &:last-child {
        td, th {
          padding-bottom: 3.5rem;
          @include media-breakpoint-down(md) {
            padding-bottom: 3rem;
          }
          @include media-breakpoint-down(sm) {
            padding-bottom: 2.5rem;
          }
          @include media-breakpoint-down(xs) {
            padding-bottom: 2rem;
          }
        }
      }
    }
    td, th {
      border-top: unset;
    }
  }
}