.discover {
  .row {
    margin-left: -5px;
    margin-right: -5px;
    .col-discover {
      padding-left: 5px;
      padding-right: 5px;
      a {
        display: none;
      }

    }
  }
  .image-text-container {
    position: relative;
    overflow: hidden;
    margin-top: 10px;
    //margin-bottom: 10px;

    img {
      display: block;
      line-height: 0;
    }

    .overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(35,127,73,.8);
      display: flex;
      align-items: center;
      padding: 2rem;
      transform: translateX(100%);
      transition: transform 0.4s ease-in-out;
      &.fly-in-top {
        transform: translateY(-100%);
      }
      &.fly-in-bottom {
        transform: translateY(100%);
      }
      &.fly-in-left {
        transform: translateX(-100%);
      }
      &.fly-in-right {
        transform: translateX(100%);
      }
      .text {
        font-size: 0.8rem;
        color: #fff;
      }
    }

    &:hover {
      .overlay {
        transform: translateY(0);
      }
    }
  }
}