.trailer {
  .frame {
    padding-bottom: unset;
  }
  .btn-cta {
    @include media-breakpoint-down(sm) {
      margin: 2rem 0;
    }
  }
  .icon-info {
    cursor: pointer;
    width: 45px;
    height: 45px;
    background-image: url("../Images/Content/plus.svg");
    background-size: cover;
    &-1st {
      top: 0;
      right: 34%;
    }
    &-2nd {
      top: 32%;
      left: 15%;
    }
    &-3rd {
      bottom: 10%;
      left: 13%;
    }
  }
  .content-info {
    width: 200px;
    background-color: #fff;
    box-shadow: 0 0 6px -2px #bbb;
    z-index: 9;
    img.img {
      width: 100%;
      &.right {
        margin-left: 0;
      }
    }
    @include media-breakpoint-down(lg) {
      width: 180px;
      z-index: 1030;
    }
    &-1st {
      top: -5%;
      left: 31%;
      &::before {
        position: absolute;
        content: '';
        top: 23px;
        right: -25px;
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 25px solid #fff;
      }
      @include media-breakpoint-down(lg) {
        left: 27%;
      }
      @include media-breakpoint-down(md) {
        top: -7%;
        left: 15%;
      }
      @include media-breakpoint-down(sm) {
        top: -7%;
        left: 20%;
      }
      @include media-breakpoint-down(xs) {
        top: -7%;
        left: 15%;
      }
    }
    &-2nd {
      top: 21%;
      left: 24%;
      &::before {
        position: absolute;
        content: '';
        top: 50px;
        left: -25px;
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-right: 25px solid #fff;
      }
      @include media-breakpoint-down(lg) {
        top: 19%;
        left: 25%;
      }
      @include media-breakpoint-down(md) {
        top: 16%;
        left: 29%;
      }
      @include media-breakpoint-down(sm) {
        top: 17%;
        left: 27%;
      }
      @include media-breakpoint-down(xs) {
        top: 15%;
        left: 29%;
      }
    }
    &-3rd {
      top: 33%;
      left: 22%;
      &::before {
        position: absolute;
        content: '';
        bottom: 33px;
        left: -25px;
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-right: 25px solid #fff;
      }
      @include media-breakpoint-down(lg) {
        top: 30%;
        left: 23%;
      }
      @include media-breakpoint-down(md) {
        top: 13%;
        left: 27%;
      }
      @include media-breakpoint-down(sm) {
        top: 18%;
        left: 26%;
      }
      @include media-breakpoint-down(xs) {
        top: unset;
        bottom: 4%;
        left: 29%;
      }
    }
    .content-info-wrapper {
      font-size: 0.8rem;
      padding: 5px;
      h5 {
        font-size: 0.8rem;
        font-weight: 600;
      }
      p {
        margin-bottom: unset;
      }
      @include media-breakpoint-down(lg) {
        font-size: 0.7rem;
        h5 {
          font-size: 0.7rem;
        }
      }
    }
  }
  .cta-link {
    margin: 1rem 0;
    span {
      &.cta-text {
        font-size: 0.9rem;
        font-weight: 500;
        @include media-breakpoint-up(lg) {
          padding: 1.5rem 1.25rem 1.5rem 0;
        }
      }
    }
    img {
      &.cta-img {
        transform:rotate(270deg);
        @include media-breakpoint-up(lg) {
          transition: transform 0.2s ease;
          transform: translateX(0px);
        }
      }
    }
    &:hover {
      img {
        &.cta-img {
          @include media-breakpoint-up(lg) {
            transform: translateX(10px);
          }
        }
      }
    }
  }
  .benefits {
    &.wrapper {
      .line-wrapper {
        display: inline-block;
        margin: 1rem 0;
      }
      span {
        &.text-wrapper {
          font-size: 0.8rem;
          font-weight: 500;
          padding: 1.5rem 0 1.5rem 0.75rem;
          @include media-breakpoint-down(sm) {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
  @include media-breakpoint-down(sm) {
    .bottom-border {
      border-bottom: 2px solid rgba(150,150,150,.2);
    }
  }
  .cta-circle {
    &.wrapper {
      top: -70px;
      left: 0;
      width: 130px;
      height: 130px;
      border-radius: 70px;
      background-color: #237f49;
      transition: width 0.25s, height 0.25s, top 0.25s, left 0.25s, margin 0.5s;
      span {
        display: block;
        text-align: center;
        color: #fff;
        &.first {
          margin-top: 32%;
          font-weight: 600;
          font-size: 1.3rem;
        }
        &.second {
          margin: 0 auto;
          font-size: 0.8rem;
        }
      }
      &:hover {
        top: -75px;
        left: -5px;
        width: 140px;
        height: 140px;
        background-color: #1b6138;
      }
    }
  }
}