footer {
  .footer-section {
    &-content {
      background-color: #237f49;
    }
    &-meta {
      background-color: #1B452C;
    }
  }
  .footer-content {
    font-size: 0.8rem;
    font-weight: 400;
    @include media-breakpoint-down(sm) {
      font-size: 1.0rem;
    }
    span {
      &.text-wrapper {
        display: inline-block;
        padding: 1.5rem 0 1.5rem 0.75rem;
      }
    }
  }
  .footer-meta {
    line-height: 1.75em;
    font-size: 0.7rem;
    font-weight: 300;
    @include media-breakpoint-down(sm) {
      font-size: 0.9rem;
      font-weight: 400;
    }
    h5, .h5 {
      font-size: 1.0rem;
      font-weight: 400;
    }
    ul {
      &.meta {
        display: block;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        li {
          border-bottom: 1px solid rgba(200,200,200,.2);
          &:last-child {
            border-bottom: unset;
          }
          a {
            color: #fff;
            font-size: 0.8rem;
            font-weight: 400;
            text-decoration: none;
            &:hover {
              color: #fff;
              text-decoration: none;
            }
          }
          span {
            &.text-wrapper {
              display: inline-block;
              padding: 1.5rem 1.25rem 1.5rem 0;
            }
          }
          img {
            &.arrow-footer-link {
              margin-bottom: 0.4rem;
              transition: transform 0.2s ease;
              transform: translateX(0px);
            }
          }
          &:hover {
            img {
              &.arrow-footer-link {
                transform: translateX(10px);
              }
            }
          }
        }
      }
      &.footer-meta-nav {
        margin: 0 0 1.3rem 0;
        padding: unset;
        list-style: none;
        display: flex;
        li {
          margin: 0 1rem;
          a {
            color: #fff !important;
            font-size: 0.8rem;
            font-weight: 300;
            text-decoration: none;
            &:hover,
            &:active,
            &:visited,
            &:current {
              color: #fff !important;
              text-decoration: none;
            }
          }
          img {
            margin-right: 0.5rem;
          }
          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
    .frame {
      &-wrapper {
        margin: 2rem 0;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    .bottom-border {
      border-bottom: 2px solid rgba(200,200,200,.2);
    }
  }
}