.modal {
  &-body {
    .frame {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
    @include media-breakpoint-down(md) {
      .hide-on-mobile {
        display: none;
      }
    }
  }

}

form {
  input {
    &.form-control {
      border-radius: 50rem !important;
      font-size: 0.8rem;
      height: calc(1.7em + 0.95rem + 2px);
      padding: 0.475rem 1.05rem;
      &::-webkit-input-placeholder, /* Chrome/Opera/Safari */
      &::-moz-placeholder, /* Firefox 19+ */
      &:-ms-input-placeholder, /* IE 10+ */
      &:-moz-placeholder { /* Firefox 18- */
        color: #333;
      }
    }
  }

  .select-wrapper {
    position: relative;
    width: 100%;
    &::before {
      color: #fff;
      font-size: 20px;
      pointer-events: none;
      position: absolute;
      right: 15px;
      top: 10px;
    }
    &::after {
      content: '';
      background-image: url("../Images/Content/select-arrow.svg");
      position: absolute;
      width: 16px;
      height: 8px;
      top: 23px;
      right: 22px;
      background-size: 12px;
      background-repeat: no-repeat;
    }
    select {
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8nwYAAmoBZ0eMiB8AAAAASUVORK5CYII=) repeat;
      color: #333;
      cursor: pointer;
      font-family: 'Open Sans', sans-serif;
      font-size: 13px;
      font-weight: 400;
      height: 40px;
      outline: none;
      padding-left: 11px;
      width: 100%;
      border: 1px solid #ced4da;
      border-radius: 50rem !important;
      line-height: 1.5;
      &::-ms-expand {
        display: none;
      }
      &:focus::-ms-value {
        background-color: transparent;
      }
      option {
        color: #666;
      }
    }
  }
  .tab-content {
    margin-top: 2rem;
    .tab-pane {
      .form-group {
        margin-bottom: unset;
        input.form-control,
        .select-wrapper select {
          margin: 0.3rem 0;
        }
      }
    }
    .btn-tab-next {
      margin-top: 1.2rem;
    }
  }
  .tab-submit-text-wrapper {
    max-width: 80%;
    margin: 0 auto;
  }
  hr {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
  }
}

.invalid-feedback {
  display: none;
}
input[required] {}