body {
  font-weight: 300;
}
h1, h2, h3, h4,
.h1, .h2, .h3, .h4 {
  font-weight: 600;
}
h5, .h5 {
  font-weight: 500;
}
h1, .h1 {
  font-size: 2rem;
}
h2, .h2 {
  font-size: 1.8rem;
}
h3, .h3 {
  font-size: 1.5rem;
}
h4, .h4 {
  font-size: 1.3rem;
}
h5, .h5 {
  font-size: 1.1rem;
}
.frame {
  &-background {
    &-light {
      background-color: #f4f4f4;
    }
  }
  &-no-padding {
    padding-top: unset;
    padding-bottom: unset;
  }
}
.navbar-mainnavigation {
  box-shadow: unset;
}
.text-strong {
  font-weight: 500;
  color: rgba(0,0,0,0.9);
}
.modal-backdrop {
  background-color: #204331;
  &.show {
    opacity: 0.95;
  }
}
.cta {
  text-align: center;
  @include media-breakpoint-down(sm) {
    text-align: left;
  }
}
.btn {
  font-size: 0.8rem;
  padding: 0.5rem 1.8rem 0.55rem;
  border-radius: 50rem !important;
  &.btn-cta {
    @include media-breakpoint-down(sm) {
      display: block;
      width: 100%;
    }
  }
}
.scroll-top {
  color: #fff;
  background-color: #237F49;
  &:active,
  &:focus,
  &:hover {
    color: #fff;
    background-color: #495057;
  }
}

.alert {
  border-radius: 50rem !important;
  padding: 0.5rem 1.25rem;
}