.modal {
  &.custom {
    .modal-header {
      padding: 1rem 1rem 0 1rem;
      border-bottom: unset;
    }
    .modal-body {
      padding: 0 1rem 0 1rem;
    }
    button.close {
      position: absolute;
      right: 15px;
      top: 10px;
      z-index: 9999;
    }
  }
}