.navbar-touro {
  position: relative;
  #mainnavigation {
    margin-right: 10px;
  }

  #secondnavigation {
    margin-left: 10px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    @include media-breakpoint-down(md) {
      margin-left: unset;
      margin-right: unset;
      padding-left: unset;
      padding-right: unset;
      position: absolute;
      right: 80px;
      top: 35px;
    }
    @include media-breakpoint-down(sm) {
      top: 20px;
    }
  }

  .nav-touro {
    a, a:hover {
      span {
        &.nav-link-text,
        &.link-text {
          font-weight: 400;
          color: rgba(0,0,0, 0.9);
        }
        &.link-text {
          padding-top: 1px;
        }
      }
    }
  }

}

#page-header{
  &.navbar-transition {
    box-shadow: 0 0 10px rgba(0,0,0,0.16);
    content: 'blub';
  }
  .navbar-brand-image {
    transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
  }
}