<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:spaceless>
    <f:cObject typoscriptObjectPath="lib.googleTagManager.partBody" />
    <div id="top"></div>
    <div class="body-bg{f:if(condition:theme.navigation.type, then:' body-bg-{theme.navigation.type}')}">

        <f:render partial="Navigation/Main" arguments="{_all}"/>

        <div id="page-content" class="bp-page-content main-section">
            <!--TYPO3SEARCH_begin-->
            <f:render section="Main" />
            <!--TYPO3SEARCH_end-->
        </div>

        <div id="payments" class="mb-4">
            <div class="container">
                <div class="row">
                <div class="col-md-6">
                    <div class=" text-center text-md-left">
                        <div class="text-center text-md-left"><small>Sicher bezahlen</small></div>
                        <img height="20" class="ml-1 mr-1" src="/typo3conf/ext/touro_master/Resources/Public/Images/Content/Payment/visa.png" alt="">
                        <img height="30" class="ml-1 mr-1" src="/typo3conf/ext/touro_master/Resources/Public/Images/Content/Payment/Mastercard.png" alt="">
                        <img height="40" class="ml-1 mr-1" src="/typo3conf/ext/touro_master/Resources/Public/Images/Content/Payment/paypal.png" alt="">
                        <img height="30" class="ml-1 mr-1" src="/typo3conf/ext/touro_master/Resources/Public/Images/Content/Payment/sepa.png" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class=" text-center text-md-right">
                        <div class="text-md-right"><small>Sicher einkaufen</small></div>
                        <img height="45" class="ml-1 mr-1" src="/typo3conf/ext/touro_master/Resources/Public/Images/Content/Payment/ekomi_gold.png" alt="">
                        <img height="45" class="ml-1 mr-1" src="/typo3conf/ext/touro_master/Resources/Public/Images/Content/Payment/ssl.png" alt="">
                        <img height="45" class="ml-1 mr-1" src="/typo3conf/ext/touro_master/Resources/Public/Images/Content/Payment/google.png" alt="">
                    </div>
                </div>
                </div>
            </div>
        </div>

        <footer id="page-footer" class="bp-page-footer">
            <f:render section="Footer" optional="true" arguments="{_all}" />
        </footer>
        <div class="mb-5 d-block d-sm-none">&nbsp;</div>
        <div class="footer-button fixed-bottom d-block d-sm-none bg-primary">
            <div class="container">
                <button id="cta5" class="btn btn-light btn-cta mt-4 mb-4" data-toggle="modal" data-target="#mietenModal">
                    Jetzt mieten
                </button>
            </div>
        </div>
        <a class="scroll-top" title="Scroll to top" href="#top"><span class="scroll-top-icon"></span></a>
    </div>

    <!-- Modal starts here -->
    <f:render partial="Modal/Subpages" arguments="{pageUid:'3',linkTitle:'impressum'}" />
    <f:render partial="Modal/Subpages" arguments="{pageUid:'4',linkTitle:'datenschutz'}" />
    <f:render partial="Modal/Subpages" arguments="{pageUid:'5',linkTitle:'agb'}" />
    <f:render partial="Modal/Subpages" arguments="{pageUid:'8',linkTitle:'mieten'}" />
    <f:render partial="Modal/Subpages" arguments="{pageUid:'9',linkTitle:'login'}" />

</f:spaceless>
</html>
