<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Content/Default" />

<f:section name="Configuration">
    <flux:form id="about" enabled="true" label="About" description="Über uns Tab-Element [Grid]">
        <flux:form.option.icon value="EXT:touro_master/Resources/Public/Icons/Content/content-tab.svg" />

        <flux:form.sheet name="settings.tab1" label="Tab 1">
            <flux:field.input name="settings.tab1.label" label="Tab Label"/>
        </flux:form.sheet>
        <flux:form.sheet name="settings.tab2" label="Tab 2">
            <flux:field.input name="settings.tab2.label" label="Tab label"/>
        </flux:form.sheet>
        <flux:form.sheet name="settings.tab3" label="Tab 3">
            <flux:field.input name="settings.tab3.label" label="Tab label"/>
        </flux:form.sheet>

        <flux:grid>
            <flux:grid.row>
                <flux:grid.column colPos="10" name="contentFirst" label="Tab 1" style="width: 33%" />
                <flux:grid.column colPos="11" name="contentSecond" label="Tab 2" style="width: 33%" />
                <flux:grid.column colPos="12" name="contentThird" label="Tab 3" style="width: 33%" />
            </flux:grid.row>
        </flux:grid>

    </flux:form>
</f:section>

<f:section name="Preview">
    <strong>About [Grid]</strong>
</f:section>

<f:section name="Main">

    <div id="about"></div>
    <div id="fce-{record.uid}" class="about">
        <ul id="about-{record.uid}" class="nav nav-tabs row">
            <li class="nav-item col-4">
                <a id="about-nav-tab1" href="#tabcontent-{record.uid}-1" class="nav-link text-center active" role="tab" data-toggle="tab" aria-controls="tabcontent-{record.uid}-1" aria-selected="true">
                    <span class="nav-text">{settings.tab1.label}</span>
                </a>
            </li>
            <li class="nav-item col-4">
                <a id="about-nav-tab2" href="#tabcontent-{record.uid}-2" class="nav-link text-center" role="tab" data-toggle="tab" aria-controls="tabcontent-{record.uid}-2" aria-selected="false">
                    <span class="nav-text">{settings.tab2.label}</span>
                </a>
            </li>
            <li class="nav-item col-4">
                <a id="about-nav-tab3" href="#tabcontent-{record.uid}-3" class="nav-link text-center" role="tab" data-toggle="tab" aria-controls="tabcontent-{record.uid}-3" aria-selected="false">
                    <span class="nav-text">{settings.tab3.label}</span>
                </a>
            </li>
        </ul>
        <div id="tabcontent-{record.uid}" class="tab-content">
            <div id="tabcontent-{record.uid}-1" class="tab-pane fade active show" role="tabpanel">
                <flux:content.render area="contentFirst"/>
            </div>
            <div id="tabcontent-{record.uid}-2" class="tab-pane fade" role="tabpanel">
                <flux:content.render area="contentSecond"/>
            </div>
            <div id="tabcontent-{record.uid}-3" class="tab-pane fade" role="tabpanel">
                <flux:content.render area="contentThird"/>
            </div>
        </div>
        <div class="cta mt-4">
            <button id="cta2" class="btn btn-primary btn-cta" data-toggle="modal" data-target="#mietenModal">
                Jetzt starten und mieten
            </button>
        </div>
    </div>

</f:section>
</html>