<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Content/Default" />

<f:section name="Configuration">
    <flux:form id="comparison" enabled="true" label="Comparison" description="Vergleich Tabelle Mieten vs. Kaufen">
        <flux:form.option.icon value="EXT:touro_master/Resources/Public/Icons/Content/content-table.svg" />

        <flux:field.input name="settings.table.headline" label="Überschrift" />

        <flux:form.section name="settings.table.lines" label="Tabellen Zeilen">
            <flux:form.object name="row" label="Zeile">
                <flux:field.input name="left" label="Spalte 1 [links]" />
                <flux:field.input name="right" label="Spalte 2 [rechts]" />
            </flux:form.object>
        </flux:form.section>

        <flux:field.input name="settings.table.sum.left" label="Summe linke" />
        <flux:field.text name="settings.table.sum.middle" label="Summe mitte" />
        <flux:field.input name="settings.table.sum.right" label="Summe rechts" />

        <flux:field.input name="settings.table.buttontext" label="Buttontext" />

    </flux:form>
</f:section>

<f:section name="Preview">
    <strong>Comparison</strong>
</f:section>

<f:section name="Main">
    <div id="comparison"></div>
    <table id="fce-{record.uid}" class="table table-comparison">
    <tbody>
    <tr class="headline headline-cell">
        <th>{settings.table.headline}</th>
        <th></th>
        <th></th>
    </tr><tr class="headline headline-full">
        <th colspan="3">{settings.table.headline}</th>
    </tr><tr>
        <th>Leistung</th>
        <th>Mieten</th>
        <th>Kaufen</th>
    </tr>
    <f:for each="{settings.table.lines}" as="obj" key="id" iteration="iteration">
        <tr class="border-bottom{f:if(condition: '{iteration.isLast}', then: ' last')}">
            <td>{obj.row.left}</td>
            <td><img class="check-footer" src="/typo3conf/ext/touro_master/Resources/Public/Images/Content/check.svg" width="25" height="25" /></td>
            <td>{obj.row.right}</td>
        </tr>
    </f:for>
    <tr>
        <th>{settings.table.sum.left}</th>
        <th><f:format.raw>{settings.table.sum.middle}</f:format.raw></th>
        <th>{settings.table.sum.right}</th>
    </tr><tr class="cta cta-cell">
        <td></td>
        <td><button id="cta3" class="btn btn-primary btn-cta" data-toggle="modal" data-target="#mietenModal">{settings.table.buttontext}</button></td>
        <td></td>
    </tr>
    </tbody>
    </table>
    <div class="cta-wrapper d-sm-none">
        <button id="cta31" class="btn btn-primary btn-cta" data-toggle="modal" data-target="#mietenModal">{settings.table.buttontext}</button>
    </div>
</f:section>
</html>