<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Content/Default" />

<f:section name="Configuration">
    <flux:form id="discover" enabled="true" label="Discover" description="'Über TOURO' [Grid]">
        <flux:form.option.icon value="EXT:touro_master/Resources/Public/Icons/Content/Default.svg" />

        <flux:grid>
            <flux:grid.row>
                <flux:grid.column colPos="10" name="contentFirst" label="Tab 1" style="width: 33%" />
                <flux:grid.column colPos="11" name="contentSecond" label="Tab 2" style="width: 33%" />
                <flux:grid.column colPos="12" name="contentThird" label="Tab 3" style="width: 33%" />
            </flux:grid.row>
        </flux:grid>

    </flux:form>
</f:section>

<f:section name="Preview">
    <strong>Discover [Grid]</strong>
</f:section>

<f:section name="Main">
    <div id="discover"></div>
    <div id="fce-" class="discover">
        <div class="row">
            <div class="col-sm-4 col-discover">
                <flux:content.render area="contentFirst"/>
            </div>
            <div class="col-sm-4 col-discover">
                <flux:content.render area="contentSecond"/>
            </div>
            <div class="col-sm-4 col-discover">
                <flux:content.render area="contentThird"/>
            </div>
        </div>
    </div>
</f:section>
</html>