<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Content/Default" />

<f:section name="Configuration">
    <flux:form id="formrent" enabled="true" label="Form mieten" description="Das ist das 'mieten' Formular">
        <flux:form.option.icon value="EXT:touro_master/Resources/Public/Icons/Content/content-form-red.svg" />
    </flux:form>
</f:section>

<f:section name="Preview">
    <strong>Jetzt mieten Formular</strong><br>
    <i>Nur Frontend Rendering!</i>
</f:section>

<f:section name="Main">
    <div id="formular">
        <h2 class="text-center">Zubehör mieten</h2>
        <form method="POST" class="needs-validation" id="frm-rent" name="frm-rent" action="/jetzt-mieten" novalidate>

            <ul id="nav-rent" class="nav nav-tabs row">
                <li class="nav-item col-4">
                    <a id="nav-tab-1" href="#tabrentcontent-1" class="nav-link text-center active" role="tab" data-toggle="tab" aria-controls="tabrentcontent-1" aria-selected="true">
                        <span class="nav-text">1.<span class="hide-on-mobile">Persönliche Daten</span></span>
                    </a>
                </li>
                <li class="nav-item col-4">
                    <a id="nav-tab-2" href="#tabrentcontent-2" class="nav-link text-center disabled" role="tab" data-toggle="tab" aria-controls="tabrentcontent-2" aria-selected="false" aria-disabled="true">
                        <span class="nav-text">2.<span class="hide-on-mobile"><span>Fahrzeug</span><span>angaben</span></span></span>
                    </a>
                </li>
                <li class="nav-item col-4">
                    <a id="nav-tab-3" href="#tabrentcontent-3" class="nav-link text-center disabled" role="tab" data-toggle="tab" aria-controls="tabrentcontent-3" aria-selected="false" aria-disabled="true">
                        <span class="nav-text">3.<span class="hide-on-mobile">Werkstatt wählen</span></span>
                    </a>
                </li>
            </ul>

            <div id="tabrentcontent" class="tab-content">
                <div id="tabrentcontent-1" class="tab-pane fade active show" role="tabpanel">
                    <f:render partial="Content/Form/Tab1" arguments="{_all}" />
                </div>
                <div id="tabrentcontent-2" class="tab-pane fade" role="tabpanel">
                    <f:render partial="Content/Form/Tab2" arguments="{_all}" />
                </div>
                <div id="tabrentcontent-3" class="tab-pane fade" role="tabpanel">
                    <f:render partial="Content/Form/Tab3" arguments="{_all}" />
                </div>
            </div>

            <input type="hidden" id="hidden-field-from" name="from" value="rent">
        </form>
    </div>
    <div id="respone" class="d-none">
        <h2 class="text-center">Vielen Dank für Ihre Anfrage</h2>
        <p class="tab-submit-text-wrapper text-center">
            Wir möchten uns für die Unannehmlichkeiten entschuldigen. Daher stellen wir Ihnen einen Gutschein im Wert von 50 € bei Ihrer Bestellung eines Anhängerkupplung-Komplettsets bis 30.07.2021 auf <a href="https://www.transportsysteme24.de/" target="_blank">www.transportsysteme24.de</a> zusätzlich zu unseren weiteren Sonderaktionen bereit. 
        </p>
        <p>Ihren persönlichen, nicht übertragbaren oder auszahlbaren Gutschein erhalten Sie per Mail zugesendet.</p>
    </div>
</f:section>

</html>