<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Content/Default" />

<f:section name="Configuration">
    <flux:form id="formlogin" enabled="true" label="Form Login" description="Das ist das Login-Formular">
        <flux:form.option.icon value="EXT:touro_master/Resources/Public/Icons/Content/content-form-red.svg" />
    </flux:form>
</f:section>

<f:section name="Preview">
    <strong>Login Formular</strong><br>
    <i>Nur Frontend Rendering!</i>
</f:section>

<f:section name="Main">
    <h2 class="text-center">Login</h2>
    <form method="POST" id="frm-login" name="frm-login" action="/login">
        <div class="row form-group mb-4 mt-4">
            <div class="col">
                <input type="text" id="login" name="email" class="form-control" placeholder="E-Mail">
            </div>
            <div class="col">
                <input type="password" id="password" name="password" class="form-control" placeholder="Passwort">
            </div>
        </div>
        <div id="alert-wrapper" class="wrap mt-4 mb-4 d-none">
            <div class="alert alert-danger" role="alert">
                Leider konnte ihr Kundenkonto nicht gefunden werden!
            </div>
        </div>
        <input type="hidden" name="from" value="login">
        <button id="frm-login-submit" type="submit" class="btn btn-primary btn-block">
            Anmelden&nbsp;&nbsp;
            <img src="{f:uri.image(src: 'EXT:touro_master/Resources/Public/Images/Content/arrow-footer-white.svg', width: '20px')}" width="15" alt="">
        </button>
    </form>
</f:section>

</html>