<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Content/Default" />

<f:section name="Configuration">
    <flux:form id="imagetextoverlay" enabled="true" label="Image / Text-Overlay" description="Bilder mit slide in Text für Discover [Grid]">
        <flux:form.option.icon value="EXT:touro_master/Resources/Public/Icons/Content/content-inside-text-img-left.svg" />

        <flux:field.inline.fal name="settings.image" label="Bild" maxItems="1" allowedExtensions="jpg,jpeg,png,svg" />
        <flux:field.text name="settings.text" enableRichText="1" label="Text" />
        <flux:field.select name="settings.position" label="Text flyIn"
                           items="{
                           0:{0:'Top',1:'fly-in-top'},
                           1:{0:'Right',1:'fly-in-right'},
                           2:{0:'Bottom',1:'fly-in-bottom'},
                           3:{0:'Left',1:'fly-in-left'}
                           }"
        />
        <flux:field.select name="settings.hide" label="Hide on mobile (Breakpoint)" default="none"
                           items="{
                           0:{0:'none', 1:'none'},
                           1:{0:'md (and lower)', 1:'md'},
                           2:{0:'sm (and lower)', 1:'sm'},
                           3:{0:'xs', 1:'xs'}
                           }"
        />
    </flux:form>
</f:section>

<f:section name="Preview">
    <strong>Image Text-Overlay</strong>
</f:section>

<f:section name="Main">
    <div id="fce-{record.uid}" class="image-text-container{f:if(condition: '{settings.hide} == none', then: '', else: ' d-none d-{settings.hide}-block')}">
        {v:content.resources.fal(field: 'settings.image') -> v:iterator.first() -> v:variable.set(name: 'image')}
        <img class="img img-fluid" src="{f:uri.image(src: '{image.id}', crop: '{image.crop}')}" title="{image.title}" />
        <div class="overlay {settings.position}">
            <div class="text"><f:format.raw>{settings.text}</f:format.raw></div>
        </div>
    </div>
</f:section>

</html>