<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Content/Default" />

<f:section name="Configuration">
    <flux:form id="texticon" enabled="true" label="Text Icon" description="Text Icon Element für About [Grid]">
        <flux:form.option.icon value="EXT:touro_master/Resources/Public/Icons/Content/content-beside-text-img-above-left.svg" />

        <flux:form.section name="settings.boxes" label="Text-Icon Boxes">
            <flux:form.object name="box" label="Box">
                <flux:field.input name="headline" label="Überschrift" />
                <flux:field.select name="icon" label="Icon"
                                   items="{
                           0:{0:'Zeitersparnis [Vorteile]',1:'Icon-1'},
                           1:{0:'Lagerung [Vorteile]',1:'Icon-2'},
                           2:{0:'Montage-Service [Vorteile]',1:'Icon-3'},
                           3:{0:'Vielfalt [Vorteile]',1:'Icon-4'},
                           4:{0:'Kostenersparnis [Vorteile]',1:'Icon-5'},
                           5:{0:'Flexibilität [Vorteile]',1:'Icon-6'},
                           6:{0:'Persönliches Model [Ablauf]',1:'Icon-7'},
                           7:{0:'Vertrag abschliessen [Ablauf]',1:'Icon-8'},
                           8:{0:'Montageservice nutzen [Ablauf]',1:'Icon-9'},
                           9:{0:'Flexibilität genießen [Ablauf]',1:'Icon-10'}
                           }"
                />
                <flux:field.checkbox name="arrow" label="Pfeil" />
                <flux:field.text name="text" label="Text" enableRichText="1" />
            </flux:form.object>
        </flux:form.section>

    </flux:form>
</f:section>

<f:section name="Preview">
    <strong>Text Icon</strong><br>
    <f:for each="{settings.boxes}" as="obj" key="id">
        <i>- {obj.box.headline}{f:if(condition: '{obj.box.arrow}', then: ' *')}</i><br>
    </f:for>

</f:section>

<f:section name="Main">
    <div id="fce-{record.uid}" class="text-icon">
        <div class="row">
        <f:for each="{settings.boxes}" as="obj" key="id">
            <div class="box{f:if(condition: '{obj.box.arrow}', then: ' col-md-6 col-lg-3 arrow', else: ' col-md-4')}">
                <f:if condition="{obj.box.arrow}">
                    <f:then>
                        <div class="header">
                            <div class="images">
                                <img class="icon icon-1st" src="/files/Icons/{obj.box.icon}.svg" />
                                <img class="icon icon-2nd" src="/files/Icons/Arrow.svg" />
                            </div>
                            <h5 class="headline">{obj.box.headline}</h5>
                        </div>
                    </f:then>
                    <f:else>
                        <div class="header">
                            <img class="icon" src="/files/Icons/{obj.box.icon}.svg" />
                            <h5 class="headline">{obj.box.headline}</h5>
                        </div>
                    </f:else>
                </f:if>

                <div class="content">
                    <f:format.raw>{obj.box.text}</f:format.raw>
                </div>
            </div>
        </f:for>
        </div>
    </div>
</f:section>
</html>