<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Content/Default" />

<f:section name="Configuration">
    <flux:form id="trailer" enabled="true" label="Trailer" description="Top Trailer Image mit Icon (+) Text / Image Popover">
        <flux:form.option.icon value="EXT:touro_master/Resources/Public/Icons/Content/content-carousel-html.svg" />

        <flux:field.input name="settings.left.headline" label="Text Überschrift [links]" />
        <flux:field.text name="settings.left.text" label="Text Fließtext [links]" />
        <flux:field.input name="settings.left.buttontext" label="Button Text [links]" />

        <flux:field.input name="settings.box1.headline" label="Headline [box1" />
        <flux:field.text name="settings.box1.text" label="Text [box1]" />
        <flux:field.input name="settings.box2.headline" label="Headline [box2" />
        <flux:field.text name="settings.box2.text" label="Text [box2]" />
        <flux:field.input name="settings.box3.headline" label="Headline [box3" />
        <flux:field.text name="settings.box3.text" label="Text [box3]" />

        <flux:field.text name="settings.circle.text" label="Circle Infotext" />
    </flux:form>
</f:section>

<f:section name="Preview">
    <strong>Trailer</strong>
</f:section>

<f:section name="Main">

    <div id="trailer"></div>
    <div id="fce-{record-uid}" class="trailer">
        <div class="row">
            <div class="col-md-7 col-lg-8 order-md-2 position-relative col-car">
                <img src="{f:uri.image(src: '/files/images/car.jpg', width: '600px')}" class="trailer-img" width="100%" />
                <div class="icon-info icon-info-1st position-absolute" data-toggle="trailer-info" data-target="#info-1"></div>
                <div class="icon-info icon-info-2nd position-absolute" data-toggle="trailer-info" data-target="#info-2"></div>
                <div class="icon-info icon-info-3rd position-absolute" data-toggle="trailer-info" data-target="#info-3"></div>

                <div id="info-1" class="content-info content-info-1st position-absolute d-none">
                    <img class="img" src="/files/images/trailer-info-1st.jpg" />
                    <div class="content-info-wrapper">
                        <h5>{settings.box1.headline}</h5>
                        <p>{settings.box1.text}</p>
                    </div>
                </div>
                <div id="info-2" class="content-info content-info-2nd position-absolute d-none">
                    <img class="img right" src="/files/images/trailer-info-2nd.jpg" />
                    <div class="content-info-wrapper">
                        <h5>{settings.box2.headline}</h5>
                        <p>{settings.box2.text}</p>
                    </div>
                </div>
                <div id="info-3" class="content-info content-info-3rd position-absolute d-none">
                    <img class="img rigth" src="/files/images/trailer-info-3rd.jpg" />
                    <div class="content-info-wrapper">
                        <h5>{settings.box3.headline}</h5>
                        <p>{settings.box3.text}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-lg-4 order-md-1 col-info">
                <h1>{settings.left.headline}</h1>
                <p class="d-none d-lg-block"><f:format.raw>{settings.left.text}</f:format.raw></p>
                <div class="cta-link">
                    <span class="cta-text">Plus klicken und Angebot entdecken</span>
                    <img class="cta-img" src="/typo3conf/ext/touro_master/Resources/Public/Images/Content/arrow-footer.svg" width="23" />
                </div>
                <button id="cta1" class="btn btn-primary btn-cta" data-toggle="modal" data-target="#mietenModal">
                    <f:format.raw>{settings.left.buttontext}</f:format.raw>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-3">
                <div class="benefits wrapper bottom-border">
                    <span class="line-wrapper">
                        <img class="check-footer" src="/typo3conf/ext/touro_master/Resources/Public/Images/Content/check.svg" width="25" height="25" />
                        <span class="text-wrapper">kostenfreie Montagen</span>
                    </span>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="benefits wrapper bottom-border">
                    <span class="line-wrapper">
                        <img class="check-footer" src="/typo3conf/ext/touro_master/Resources/Public/Images/Content/check.svg" width="25" height="25" />
                        <span class="text-wrapper">Bis zu 1.700€ sparen</span>
                    </span>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="benefits wrapper">
                    <span class="line-wrapper">
                        <img class="check-footer" src="/typo3conf/ext/touro_master/Resources/Public/Images/Content/check.svg" width="25" height="25" />
                        <span class="text-wrapper">Flexibles Transportzubehör</span>
                    </span>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 d-none d-lg-block position-relative">
                <div class="cta-circle wrapper position-absolute">
                    <f:format.raw>{settings.circle.text}</f:format.raw>
                </div>
            </div>
        </div>
    </div>

</f:section>
</html>