<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:variable name="headerClass">bp-page-header navbar navbar-mainnavigation navbar-{theme.navigation.style}</f:variable>
<f:variable name="headerClass">{headerClass}{f:if(condition: logo.normal, then:' navbar-has-image')}</f:variable>
<f:variable name="headerClass">{headerClass}{f:if(condition: theme.navigation.type, else:' navbar-top', then:' navbar-{theme.navigation.type} navbar-fixed-{theme.navigation.type}')}</f:variable>
<header id="page-header" class="{headerClass}">
    <div class="container navbar-touro">
        <f:link.page pageUid="{rootPage}" class="navbar-brand navbar-brand-{f:if(condition: logo.normal, then: 'image', else: 'text')}" title="{settings.logo.linktitle}">
            <img class="navbar-brand-logo-normal" src="{f:uri.image(image: logo.normal)}" alt="{logoAlt}" height="{settings.logo.height}" width="{settings.logo.width}">
        </f:link.page>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#mainnavigation" aria-expanded="false" aria-label="{f:translate(key: 'togglenavigation', extensionName: 'bootstrap_package')}">
            <span class="navbar-toggler-icon"></span>
        </button>
        <nav id="mainnavigation" class="nav-touro collapse navbar-collapse">
            <f:render partial="Navigation/Navigation" arguments="{_all}"/>
        </nav>
        <nav id="secondnavigation" class="nav-touro">
            <div class="login wrapper">
                <a class="link" href="#login" data-toggle="modal" data-target="#loginModal">
                    <img class="link-img" src="/typo3conf/ext/touro_master/Resources/Public/Images/Content/login-header.svg" alt="Login" width="21" height="26">
                    <span class="link-text d-none d-lg-inline ml-2">Login</span>
                </a>
            </div>
        </nav>
    </div>
</header>

</html>