<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<section class="section footer-section footer-section-content">
    <div class="frame-container">
        <div class="frame-inner">
            <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '2'}" />
        </div>
    </div>
</section>
<section class="section footer-section footer-section-meta">
    <div class="frame-container">
        <div class="frame-inner">
            <f:render partial="Footer/Meta" arguments="{_all}" />
        </div>
    </div>
</section>
</html>