<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="footer-meta">
    <div class="row">
        <div class="col-md-6 order-first text-left">
            <div class="frame-wrapper">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '3'}" />
            </div>
        </div>
        <div class="col-md-6 order-last text-left d-flex align-items-start flex-column">
            <div class="frame-wrapper">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '4'}" />
            </div>
            <div class="frame-wrapper meta-navigation mt-auto">
                <ul class="footer-nav footer-meta-nav">
                <f:for as="metaItem" each="{footernavigation}">
                    <li class="nav-item">
                        <f:if condition="{metaItem.data.doktype} == 3">
                            <f:then>
                                <a href="{metaItem.link}" class="modal-opener">
                                    <f:if condition="{metaItem.icon}">
                                        <f:image image="{metaItem.icon.0}" height="15" />
                                    </f:if>
                                    <span class="link-text">{metaItem.title}</span>
                                </a>
                            </f:then>
                            <f:else>
                                <a href="#" class="modal-opener" data-toggle="modal" data-target="#{f:format.case(mode: 'lower', value: '{metaItem.title}')}Modal">
                                    <f:if condition="{metaItem.icon}">
                                        <f:image image="{metaItem.icon.0}" height="15" />
                                    </f:if>
                                    <span class="link-text">{metaItem.title}</span>
                                </a>
                            </f:else>
                        </f:if>

                    </li>
                </f:for>
                </ul>
            </div>
        </div>
    </div>
</div>
</html>